
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,200;1,400&family=Merriweather+Sans:wght@400;600&display=swap');



:root{
  --theme:#076b7e;
  --fam:'Merriweather Sans', sans-serif;
 
}

button{
  cursor: pointer;
}

body{
  font-family: var(--fam) !important;
  
}

.App{
  position: relative;
  background: linear-gradient(to right bottom ,#e1b382,#c89666);
  height: 100vh;
}
.App h2{
   text-align: center;
   font-weight: 600;
   
}

div.listblock{
   display: flex;
   justify-content: space-between;
   align-items: center;
}



.todoForm {
  display: flex;
  justify-content: space-between;
}

.todoForm input{
  outline: none;
  background: var(--theme);
  border: none;
  width: 70%;
  color: #fff;
  padding: 18px 10px;
  font-size: 16px;
}



.todoForm button{
  background-color: var(--theme);
  padding: 6px 50px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}


div.listblock{
  padding: 10px 0;
  margin: 8px 20px;
  position: relative;
}

div.listblock::before{
  content: '';
  position: absolute;
  left: -20px;
  bottom: 0;
  width: 106%;
  height: 1px;
  background: #005f74;
  z-index: 10;
}



ol.allTodos{
  padding-left: 0;
  list-style-type: disc !important;
}



li.singleTodo{
  
  list-style-type: decimal;
}


span.btns button{
  border: none;
  background: none;
  outline: none;
  font-size: 20px;
  font-weight: 900;
}

span.btns button:last-child{
  color: rgb(255, 72, 72);
}

span.btns button:first-child{
  color: rgb(151, 203, 255);
}

.todo{
  background-color: #12343b;
  padding: 20px 80px;
  color: #fff;
  box-shadow:3px 6px 40px #000;
  position: absolute;
  top: 10%;
  left: 50%;
  width: 50%;
  transform: translate(-50%);
}

@media only screen and (max-width: 600px) {
  .todo{
    width: 70%;
    padding: 20px 26px;
  }

  .todoForm input{
    padding: 10px;
  }

  .todoForm button{
    padding: 10px ;
    margin-left: 10px;
  }

  div.listblock {
    margin: 0;
    margin-left: 20px;
  }
}